@charset "UTF-8";
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
body {
  --main: #ffffff ;
  --sub: #EFF7FF ;
  --accent: #4EADE4;
  --text: #333 ;
  --subtext: #3A7CE5;
  --bg: #fafafa;
  background: var(--main);
  color: #333;
}

.guide .l-S01::before,
.guide .l-S02::before,
.guide .l-S03::before {
  content: "";
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-style: dashed;
  border-width: 1px;
}

.guide .l-S01::before {
  border-color: #000;
}

.guide .l-S02::before {
  border-color: #555;
}

.guide .l-S03::before {
  border-color: #aaa;
}

.guide .l-S01::after,
.guide .l-S02::after,
.guide .l-S03::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 101;
  width: 48px;
  height: 16px;
  font-size: 11px;
}

.guide .l-S01::after {
  content: "S01";
  top: 0;
  right: 0;
  color: #000;
  background: #000;
  background: rgba(0, 0, 0, 0.4);
}

.guide .l-S02::after {
  content: "S02";
  top: 0;
  right: 48px;
  color: #555;
  background: rgba(80, 80, 80, 0.4);
}

.guide .l-S03::after {
  content: "S03";
  top: 0;
  right: 0;
  color: #777;
  background: rgba(160, 160, 160, 0.4);
}

.guide .l-L01::before,
.guide .l-L02::before,
.guide .l-L03::before,
.guide .l-L04::before,
.guide .l-L05::before,
.guide .l-L06::before,
.guide .l-L07::before,
.guide .l-L08::before,
.guide .l-L09::before,
.guide .l-L10::before,
.guide .l-L11::before,
.guide .l-L12::before,
.guide .l-L13::before,
.guide .l-L14::before,
.guide .l-L15::before,
.guide .l-L16::before {
  content: "";
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-style: dashed;
  border-width: 1px;
}

.guide .l-L01::before,
.guide .l-L09::before {
  background: rgba(230, 0, 10, 0.2);
  border-color: #E9000C;
}

.guide .l-L02::before,
.guide .l-L10::before {
  background: rgba(30, 240, 255, 0.2);
  border-color: #1CEFFF;
}

.guide .l-L03::before,
.guide .l-L11::before {
  background: rgba(120, 0, 230, 0.1);
  border-color: #A140FF;
}

.guide .l-L04::before,
.guide .l-L12::before {
  background: rgba(230, 230, 0, 0.2);
  border-color: #E6E900;
}

.guide .l-L05::before,
.guide .l-L13::before {
  background: rgba(255, 30, 245, 0.2);
  border-color: #FF1CF5;
}

.guide .l-L06::before,
.guide .l-L14::before {
  background: rgba(0, 210, 60, 0.2);
  border-color: #00D43E;
}

.guide .l-L07::before,
.guide .l-L15::before {
  background: rgba(30, 0, 230, 0.2);
  border-color: #1F00E9;
}

.guide .l-L08::before,
.guide .l-L16::before {
  background: rgba(250, 140, 0, 0.2);
  border-color: #F78A00;
}

.guide .l-L01::after,
.guide .l-L02::after,
.guide .l-L03::after,
.guide .l-L04::after,
.guide .l-L05::after,
.guide .l-L06::after,
.guide .l-L07::after,
.guide .l-L08::after,
.guide .l-L09::after,
.guide .l-L10::after,
.guide .l-L11::after,
.guide .l-L12::after,
.guide .l-L13::after,
.guide .l-L14::after,
.guide .l-L15::after,
.guide .l-L16::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  z-index: 101;
  width: 40px;
  height: 16px;
  font-size: 10px;
  color: #FFF;
}

.guide .l-L01::after,
.guide .l-L09::after {
  right: 0;
  color: #E9000C;
  background: rgba(230, 0, 10, 0.2);
}

.guide .l-L02::after,
.guide .l-L10::after {
  right: 40px;
  color: #1CEFFF;
  background: rgba(30, 240, 255, 0.2);
}

.guide .l-L03::after,
.guide .l-L11::after {
  right: 80px;
  color: #A140FF;
  background: rgba(120, 0, 230, 0.1);
}

.guide .l-L04::after,
.guide .l-L12::after {
  right: 120px;
  color: #E6E900;
  background: rgba(230, 230, 0, 0.2);
}

.guide .l-L05::after,
.guide .l-L13::after {
  right: 0;
  color: #FF1CF5;
  background: rgba(255, 30, 245, 0.2);
}

.guide .l-L06::after,
.guide .l-L14::after {
  right: 40px;
  color: #00D43E;
  background: rgba(0, 210, 60, 0.2);
}

.guide .l-L07::after,
.guide .l-L15::after {
  right: 80px;
  color: #1F00E9;
  background: rgba(30, 0, 230, 0.2);
}

.guide .l-L08::after,
.guide .l-L16::after {
  right: 120px;
  color: #F78A00;
  background: rgba(250, 140, 0, 0.2);
}

.guide .l-L01::after {
  content: "L01";
}

.guide .l-L02::after {
  content: "L02";
}

.guide .l-L03::after {
  content: "L03";
}

.guide .l-L04::after {
  content: "L04";
}

.guide .l-L05::after {
  content: "L05";
}

.guide .l-L06::after {
  content: "L06";
}

.guide .l-L07::after {
  content: "L07";
}

.guide .l-L08::after {
  content: "L08";
}

.guide .l-L09::after {
  content: "L09";
}

.guide .l-L10::after {
  content: "L10";
}

.guide .l-L11::after {
  content: "L11";
}

.guide .l-L12::after {
  content: "L12";
}

.guide .l-L13::after {
  content: "L13";
}

.guide .l-L14::after {
  content: "L14";
}

.guide .l-L15::after {
  content: "L15";
}

.guide .l-L16::after {
  content: "L16";
}

body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans JP";
}

.contents {
  width: 100%;
  height: 100%;
}

.l-S01,
.l-S02,
.l-S03 {
  height: 100%;
}

.l-S01 {
  width: 100%;
}

.l-S02 {
  width: 100%;
}

.l-L01,
.l-L02,
.l-L03,
.l-L04,
.l-L05,
.l-L06,
.l-L07,
.l-L08,
.l-L09,
.l-L10,
.l-L11,
.l-L12,
.l-L13,
.l-L14,
.l-L15,
.l-L16 {
  width: 100%;
  min-height: 24px;
}

.head_3 {
  font-size: 50px;
  letter-spacing: 0.15em;
  font-weight: bold;
}

.subTitle {
  font-size: 24px;
}

.footer__text {
  position: relative;
  text-align: center;
  color: var(--main);
}
.footer__text small {
  font-size: 20px;
}
@media screen and (max-width: 959px) {
  .footer__text small {
    font-size: 12px;
  }
}
.footer__imgBox {
  width: 100%;
}
.footer__img {
  margin-top: -1000px;
  width: 100%;
}

.header {
  height: 72px;
}
.header__wrapper {
  height: 100%;
  margin: 0 auto;
  width: calc(100% - 144px);
  max-width: 1296px;
  display: flex;
  align-items: center;
}

.header .b-head_1 {
  font-size: 40px;
  line-height: 27px;
  letter-spacing: 0.04em;
}

.s-mainVisual {
  position: relative;
}
.s-mainVisual .l-S02 {
  width: calc(100% - 144px);
  max-width: 1296px;
  margin: 0 auto;
}

.s-mainVisual::before {
  content: "";
  padding-top: 54%;
  display: block;
}

.s-mainVisual .b-head_2 {
  position: absolute;
  top: 88px;
  width: calc(100% - 144px);
  max-width: 1296px;
  font-size: 74px;
  line-height: 1.6;
  letter-spacing: 0em;
  font-weight: bold;
}
.s-mainVisual .b-head_2 .b-head_sub {
  font-size: 53px;
  line-height: 1.5;
}
.s-mainVisual .b-bg__imgBox {
  position: absolute;
  top: -72px;
  right: 0;
  z-index: -100;
  width: 100vw;
  max-width: 1920px;
}
.s-mainVisual .b-bg__imgBox_img {
  width: 100%;
  height: 100%;
}
.s-mainVisual .b-main__imgBox {
  position: absolute;
  top: 240px;
  right: 0;
  z-index: -100;
  width: 60%;
  max-width: 1500px;
}
.s-mainVisual .b-main__imgBox_img {
  width: 100%;
  height: 100%;
}

.products .grey_top .grey_top_img,
.products .grey_bottom .grey_bottom_img {
  width: 100%;
  height: 100%;
  margin: -70px 0;
}

.products {
  width: 100%;
}
.products__container {
  background-color: var(--bg);
  padding-bottom: 100px;
}
.products__wrapper {
  width: calc(100% - 144px);
  margin: 0 auto;
  max-width: 1296px;
  margin: 40px auto;
}
.products__titleBox {
  margin-bottom: 200px;
}
.products__titleBox::before {
  content: "PRODUCTS";
  font-size: 128px;
  font-weight: bold;
  font-family: "M PLUS 1p", sans-serif;
  color: #E2F4FC;
}
.products__title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.products__title::after {
  border-bottom: 2px solid var(--accent);
  content: "";
  width: 160px;
  margin-left: 36px;
}
.products__box {
  width: 100%;
}

.card {
  display: block;
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  text-decoration: none;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(199, 217, 224, 0.5) inset;
  transition: 0.4s;
  border-radius: 15px 15px 15px 15px;
}

.card:not(:last-child) {
  margin-bottom: 40px;
}

.card__title {
  font-size: 24px;
  padding: 24px;
}

.card__text {
  font-size: 16px;
  padding: 0 24px 24px;
}

.card__imageBox {
  width: 100%;
  height: 36vw;
  max-height: 240px;
  background: #d5e6ec;
  border-radius: 15px 15px 0 0;
}

.layout--2,
.layout--3,
.layout--4 {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 959px) {
  .layout--2,
  .layout--3,
  .layout--4 {
    display: block;
  }
}

/*２枚レイアウト*/
.layout--2 .card {
  width: calc((100% - 80px) / 2);
  margin: 0;
}

.layout--2 .card:not(:nth-child(2n)) {
  margin-right: 80px;
}

.layout--2 .card:nth-child(n+3) {
  margin-top: 80px;
}

/*３枚レイアウト*/
.layout--3 .card {
  width: calc((100% - 160px) / 3);
  margin: 0;
}

.layout--3 .card:not(:nth-child(3n)) {
  margin-right: 80px;
}

.layout--3 .card:nth-child(n+4) {
  margin-top: 80px;
}

/*４枚レイアウト*/
.layout--4 .card {
  width: calc((100% - 240px) / 4);
  margin: 0;
}

.layout--4 .card:not(:nth-child(4n)) {
  margin-right: 80px;
}

/*.layout--4 .card{
		margin-right : 80px ;
	}*/
.layout--4 .card:nth-child(n+5) {
  margin-top: 80px;
}

@media screen and (max-width: 959px) {
  .card__imageBox {
    max-height: 160px;
  }
}

.s-reasonVisual {
  position: relative;
}

.s-reasonVisual .grey_top,
.s-reasonVisual .grey_bottom {
  width: 100%;
  background-color: orange;
}

.s-reasonVisual .grey_top .grey_top_img,
.s-reasonVisual .grey_bottom .grey_bottom_img {
  width: 100%;
  height: 100%;
  margin: -5px 0;
}

.s-reasonVisual .l-S02 {
  background-color: var(--bg);
  padding: 0 72px;
}
.s-reasonVisual .l-S03 {
  width: calc(100% - 400px);
  max-width: 1296px;
  margin: 0 auto;
}
.s-reasonVisual .b-bg__imgBox {
  position: absolute;
  width: 200px;
}
.s-reasonVisual .b-bg__imgBox img {
  width: 100%;
}
.s-reasonVisual .bg_01_right {
  top: 800px;
  right: 0;
}
.s-reasonVisual .bg_02_left {
  top: 1800px;
  left: 0;
}
.s-reasonVisual .bg_03_right {
  top: 2200px;
  right: 0;
}
.s-reasonVisual .bg_04_left {
  top: 2800px;
  left: 0;
}

.s-reasonVisual .l-L01 {
  margin-bottom: 50px;
}

.s-reasonVisual .l-L01::before {
  content: "REASON";
  font-size: 128px;
  font-weight: bold;
  font-family: "M PLUS 1p", sans-serif;
  color: #E2F4FC;
}

.s-reasonVisual .head_3 {
  font-size: 50px;
  letter-spacing: 0.15em;
  display: flex;
  align-items: center;
}
.s-reasonVisual .head_3::after {
  border-bottom: 2px solid var(--accent);
  content: "";
  width: 160px;
  height: 30px;
  margin-left: 36px;
}
.s-reasonVisual .head_3 .large_number {
  font-size: 73px;
}

.s-reasonVisual .s-reasonVisual__list {
  font-size: 24px;
  margin-bottom: 200px;
}
.s-reasonVisual .s-reasonVisual__list .b-list__title {
  display: flex;
  align-items: center;
  padding: 24px 0;
  border-bottom: 1px solid #C6E3F3;
}
.s-reasonVisual .s-reasonVisual__list .b-subText {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 60px;
  color: #C4E5F9;
  padding-right: 32px;
}

.s-reasonVisual .b-reasonCard {
  position: relative;
  z-index: 100;
}
.s-reasonVisual .b-reasonCard:not(:last-child) {
  margin-bottom: 272px;
}
.s-reasonVisual .b-reasonCard__wrapper {
  display: flex;
}
.s-reasonVisual .b-reasonCard .b-cardContents__title {
  position: relative;
  font-size: 42px;
  font-weight: bold;
}
.s-reasonVisual .b-reasonCard .b-cardContents__title::before {
  content: "01";
  position: absolute;
  top: -100px;
  left: 0;
  font-size: 240px;
  font-weight: bold;
  z-index: -100;
  color: #e9f2f8;
  font-family: "Roboto";
}
.s-reasonVisual .b-reasonCard .b-cardContents__subTitle {
  color: #3A7CE5;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 62px;
}
.s-reasonVisual .b-reasonCard .b-cardContents__subText {
  font-size: 16px;
  line-height: 2;
}

.s-reasonVisual .b-reasonCard.card_02 .b-reasonCard__wrapper {
  flex-direction: row-reverse;
}
.s-reasonVisual .b-reasonCard.card_02 .b-cardContents__title::before {
  content: "02";
}

.s-reasonVisual .b-reasonCard.card_03 .b-cardContents__title::before {
  content: "03";
}

.s-reasonVisual .b-reasonCard.card_04 .b-reasonCard__wrapper {
  flex-direction: row-reverse;
}
.s-reasonVisual .b-reasonCard.card_04 .b-cardContents__title::before {
  content: "04";
}

.s-reasonVisual .b-reasonCard.card_05 .b-cardContents__title::before {
  content: "05";
}

.s-serviceVisual {
  position: relative;
}

.s-serviceVisual .l-S02 {
  width: calc(100% - 144px);
  max-width: 1296px;
  margin: 0 auto;
}
.s-serviceVisual .l-L01 {
  width: calc((100% + 72px) / 2 - 72px);
  margin-left: auto;
  margin-bottom: 120px;
}
.s-serviceVisual .l-L03 {
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
}

.s-serviceVisual .b-main__imgBox,
.s-serviceVisual .b-bg__imgBox {
  position: absolute;
}
.s-serviceVisual .b-main__imgBox img,
.s-serviceVisual .b-bg__imgBox img {
  width: 100%;
}
.s-serviceVisual .main_01_img {
  top: 160px;
  left: 200px;
  width: 400px;
  z-index: -50;
}
.s-serviceVisual .bg_01_left {
  width: 472px;
  top: 0;
  left: 0;
  z-index: -100;
}

.s-serviceVisual .l-L01::before {
  content: "SERVICE";
  font-size: 128px;
  font-weight: bold;
  font-family: "M PLUS 1p", sans-serif;
  color: #E2F4FC;
}

.s-serviceVisual .b-Main__title {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 0.15em;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.s-serviceVisual .b-Main__title::after {
  border-bottom: 2px solid var(--accent);
  content: "";
  width: 160px;
  margin-left: 36px;
}
.s-serviceVisual .b-Main__subText {
  font-size: 16px;
  line-height: 3;
  letter-spacing: 0.15em;
}

.s-serviceVisual .b-card__wrapper {
  width: 45%;
}
.s-serviceVisual .b-card__wrapper .b-serviceCard {
  background-color: #EFF7FF;
  padding: 48px;
  border-radius: 15px;
  min-height: 80%;
}
.s-serviceVisual .b-card__wrapper .b-serviceCard .head_3 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 24px;
}
.s-serviceVisual .b-card__wrapper .b-serviceCard .subText {
  font-size: 16px;
  line-height: 2;
}
.s-serviceVisual .b-card__wrapper .b-card__imgBox {
  width: 50%;
  margin-left: auto;
  margin-top: -14%;
}
.s-serviceVisual .b-card__wrapper .b-card__imgBox_img {
  width: 100%;
}

.team__section {
  margin-top: 200px;
}
.team__container {
  position: relative;
}
.team__container::before {
  content: "";
  position: absolute;
  z-index: -100;
  display: inline-block;
  top: 108px;
  right: 0;
  width: 200px; /*画像の幅*/
  height: 1085px; /*画像の高さ*/
  background-image: url(../../img/teams_bg_01.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.team__container::after {
  content: "";
  position: absolute;
  z-index: -100;
  display: inline-block;
  top: 708px;
  left: 0;
  width: 200px; /*画像の幅*/
  height: 1085px; /*画像の高さ*/
  background-image: url(../../img/teams_bg_02.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.team__wrapper {
  width: calc(100% - 144px);
  margin: 0 auto;
  max-width: 1296px;
  margin-bottom: 30px;
}
.team__titleBox {
  margin-bottom: 120px;
}
.team__titleBox::before {
  content: "TEAMS";
  font-size: 128px;
  font-weight: bold;
  font-family: "M PLUS 1p", sans-serif;
  color: #E2F4FC;
}
.team__title {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.team__title::after {
  content: "";
  border-top: 2px solid var(--accent);
  width: 160px;
  margin-left: 36px;
}
.team__text {
  max-width: 823px;
  width: 100%;
  line-height: 3;
  letter-spacing: 0.02em;
}
.team__group {
  width: calc(100% - 400px);
  max-width: 1296px;
  margin: 0 auto;
}
.team__listTitle {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 42px;
}
.team__list {
  letter-spacing: 0.2em;
  line-height: 2;
}
.team__box {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 176px;
}
.team__imgBox {
  width: 90%;
}
.team__img {
  width: 100%;
}

.closing__warrper {
  margin-top: 200px;
}
.closing__container {
  width: calc(100% - 144px);
  margin: 0 auto;
  margin-bottom: 505px;
}
.closing__box {
  margin-bottom: 96px;
}
.closing__title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.closing__title::after {
  content: "";
  border-top: 2px solid var(--accent);
  width: 160px;
  margin-left: 36px;
}
.closing__area {
  width: 100%;
}
.closing__imageBox {
  width: 254px;
}
.closing__text {
  position: relative;
  max-width: 610px;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 2.25;
  width: calc(100% - 254px);
  margin: 0 auto;
}
.closing__text::before {
  content: "";
  position: absolute;
  background-image: url(../../svg/last_01.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 300;
  display: inline-block;
  top: 32px;
  left: -281px;
  width: 254px; /*画像の幅*/
  height: 205px; /*画像の高さ*/
}
.closing__subText_1 {
  margin-bottom: 32px;
}