@charset "UTF-8";
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
body {
  --main: #ffffff ;
  --sub: #EFF7FF ;
  --accent: #4EADE4;
  --text: #333 ;
  --subtext: #3A7CE5;
  background: var(--main);
  color: #333;
}

/*----------------------------------------

ここからここからstyle.css に記載内容

----------------------------------------*/
body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.containter {
  width: 100%;
  height: 100%;
}

.contents {
  width: 100%;
  height: 100%;
}

.l-S01,
.l-S02,
.l-S03 {
  position: relative;
  height: 100%;
}

.l-S01 {
  width: 100%;
}

.l-S02 {
  width: 100%;
  /* padding : 40px 0 ; */
}

.l-S03 .header {
  width: calc(100% - 48px);
  max-width: 1920px;
  margin: 0 auto;
}

.l-L01,
.l-L02,
.l-L03,
.l-L04,
.l-L05,
.l-L06,
.l-L07,
.l-L08,
.l-L09,
.l-L10,
.l-L11,
.l-L12,
.l-L13,
.l-L14,
.l-L15,
.l-L16 {
  position: relative;
  width: 100%;
  min-height: 24px;
}

/*----------------------------------------

header

----------------------------------------*/
.header {
  position: absolute;
  top: 22px;
  left: 72px;
  z-index: 10;
}

.b-head_2 {
  margin: 135px 0 0 89px;
}

.b-hiroImage img {
  max-width: 960px;
  height: auto;
}

/*----------------------------------------

サービス(serviceVisual)

----------------------------------------*/
/*----------------------------------------

font-size

----------------------------------------*/
h1 {
  font-size: 40px;
  line-height: 27px;
  letter-spacing: 0.04em;
}

h2 {
  font-size: 74px;
  line-height: 1.6;
  letter-spacing: 0em;
  font-weight: bold;
}

.b-head_sub {
  font-size: 53px;
  line-height: 1.5;
  letter-spacing: 0em;
}

h3 {
  font-size: 50px;
  letter-spacing: 0.15em;
  font-weight: bold;
}

h4, li {
  font-size: 42px;
}

.subText {
  font-size: 16px;
  line-height: 3;
  letter-spacing: 0.02em;
}

.subTitle {
  font-size: 24px;
}

/*----------------------------------------

row

----------------------------------------*/
.row {
  font-size: 73px;
}

/*----------------------------------------

わたしたちが選ばれる５つの理由

----------------------------------------*/
.b-subText {
  font-size: 60px;
}

.s-reasonVisual .l-L02 {
  padding-left: 72px;
}

.s-reasonVisual .b-headTitle {
  padding-bottom: 32px;
}

.s-reasonVisual ul {
  padding-top: 32px;
}

.s-reasonVisual .l-L04 {
  max-width: 894px;
  margin-left: auto;
  margin-right: auto;
}

.s-reasonVisual .l-L07 {
  display: inline-block;
}

ol {
  display: flex;
  justify-content: center;
}

ol li {
  list-style: none;
}

/*----------------------------------------

わたしたちのチーム

----------------------------------------*/
.b-teamTitle .subText {
  max-width: 823px;
}

.b-teamTitle .head_3::before {
  content: "";
  display: block;
  border-top: solid 9px #D1DEFF;
  width: 160px;
  height: 1px;
  position: absolute;
  top: 29%;
  left: 17%;
  z-index: 1;
}

.b-teamAbout {
  display: flex;
}

.b-teamAbout .head_4 {
  max-width: 608px;
}

.b-teamAbout .subText {
  max-width: 440px;
}

.b-teamAbout img {
  width: 372px;
  height: auto;
}

/*----------------------------------------

SLashのクリエイターが制作したサイト

----------------------------------------*/
.b-teamTitle .head_3::before {
  content: "";
  display: block;
  border-top: solid 9px #D1DEFF;
  width: 160px;
  height: 1px;
  position: absolute;
  top: 29%;
  left: 17%;
  z-index: 1;
}

.box {
  width: 400px;
  height: 247px;
  background-color: #D9D9D9;
}

.b-productsCard .title {
  width: 400px;
  font-weight: bold;
  padding-top: 32px;
}

.b-productsCard .text {
  width: 400px;
  padding-top: 32px;
}

/*----------------------------------------

価格もクオリティも…

----------------------------------------*/
.b-teamTitle .head_3::before {
  content: "";
  display: block;
  border-top: solid 2px #C5D7F9;
  width: 160px;
  height: 1px;
  position: absolute;
  top: 56%;
  left: 25%;
  z-index: 1;
}

.b-lastTitle {
  max-width: 794px;
}

.b-lastTitle .subText {
  max-width: 640px;
}

.b-lastTitle .subText:last-child {
  padding-top: 32px;
}

/*----------------------------------------

わたしたちチームの紹介

----------------------------------------*/
.s-teamVisual .b-teamTitle {
  max-width: 823px;
}

.s-teamVisual .b-teamBox {
  display: flex;
}

.s-teamVisual img {
  max-width: 469px;
  height: auto;
}

/*----------------------------------------

SLashのクリエイターが制作したサイト

----------------------------------------*/
.s-productsVisual .l-L04 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: space-between; */
  max-width: 1300px;
}

.s-productsVisual .b-productsCard {
  width: 33.3333333333%;
}

/*----------------------------------------

価格もクオリティも満足できる Webサイト制作サービス

----------------------------------------*/
.s-productsVisual .l-L04 {
  display: flex;
}

/*----------------------------------------

ここからここからlayout.css に記載内容

----------------------------------------*/
/*----------------------------------------

ヘッダー

----------------------------------------*/
/*----------------------------------------

mainVisual

----------------------------------------*/
/*----------------------------------------

サービス

----------------------------------------*/
.s-serviceVisual .l-L02::before {
  content: "SERVICE";
  font-size: 128px;
  font-weight: bold;
  color: #E2F4FC;
  font-family: "M PLUS 1p", sans-serif;
}

.s-serviceVisual .l-L01 {
  padding-right: 72px;
}

.s-serviceVisual .l-L02 {
  max-width: 650px;
  margin-left: auto;
}

.s-serviceVisual .l-L03 {
  display: flex;
  justify-content: space-between;
  max-width: 1298px;
  margin-left: auto;
  margin-right: auto;
}

.l-L05 {
  padding-top: 200px;
}

/*----------------------------------------

わたしたちが選ばれる５つの理由

----------------------------------------*/
.s-serviceVisual .l-S03 {
  background-color: #FAFAFA;
}

.s-reasonVisual .l-L02::before {
  content: "REASON";
  font-size: 128px;
  font-weight: bold;
  font-family: "M PLUS 1p", sans-serif;
  color: #E2F4FC;
}

.s-reasonVisual .l-L02 {
  background-color: #FAFAFA;
  padding-left: 96px;
}

.s-reasonVisual .l-L03 {
  background-color: #FAFAFA;
}

/*----------------------------------------

サービス

----------------------------------------*/
.s-teamVisual .l-L02::before {
  content: "TEAMS";
  font-size: 128px;
  font-weight: bold;
  font-family: "M PLUS 1p", sans-serif;
  color: #E2F4FC;
}

.s-teamVisual .l-L02 {
  padding-left: 72px;
}

/*----------------------------------------

わたしたちチームの紹介

----------------------------------------*/
.s-productVisual .l-L02 {
  padding-left: 72px;
}

.s-teamVisual .l-L03 {
  max-width: 909px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

/*----------------------------------------

SLash作品

----------------------------------------*/
.s-productVisual .l-L02::before {
  content: "PRODACTS";
  font-size: 128px;
  font-weight: bold;
  font-family: "M PLUS 1p", sans-serif;
  color: #E2F4FC;
}

/*----------------------------------------

価格もクオリティも満足できるWebサイト制作サービス

----------------------------------------*/
.s-productsVisual .subText_1 {
  max-width: 610px;
}

.s-productsVisual .subText_2 {
  max-width: 640px;
}

.s-mainVisual {
  position: relative;
  display: flex;
  background-image: url(../img/main_bg_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 802px;
}

.b-subTitle {
  color: #3A7CE5;
  font-size: 24px;
  font-weight: bold;
}

.b-serviceCard__1 {
  position: relative;
}

.b-serviceCard__1 .subTitle {
  color: #3A7CE5;
  margin-top: 8px;
}

.b-serviceCard__1 .imageBox {
  position: absolute;
  top: -130px;
}

.b-serviceCard__2 {
  display: flex;
  position: relative;
  align-items: flex-end;
}

.b-serviceCard__2 img {
  max-width: 264px;
  height: auto;
}

.b-serviceCard__2 .subText {
  max-width: 560px;
  height: auto;
  margin-right: 32px;
  padding-top: 64px;
}

ul {
  max-width: 880px;
  margin: 0 auto;
}

li {
  border-bottom: 1px solid #C6E3F3;
  list-style: none;
}

.s-reasonVisual .b-subText {
  font-family: "Roboto", sans-serif;
  font-weight: 60;
  color: #C4E5F9;
  padding-right: 32px;
}

.b-serviceTitle .head_3::before {
  content: "";
  display: block;
  border-top: solid 2px #D1DEFF;
  width: 160px;
  height: 2px;
  position: absolute;
  top: 59%;
  left: 74%;
  z-index: 1;
}

.b-service .head_3 span {
  background: #fff;
  padding: 0 20px;
  position: relative;
  z-index: 5;
}

.b-serviceCard {
  max-width: 600px;
  background-color: #EFF7FF;
  border-radius: 15px;
}

.b-serviceCard__1 {
  margin-top: 200px;
}

.b-serviceCard__1 img {
  max-width: 321px;
  height: auto;
}

.b-serviceCard .head_3 {
  padding-top: 66px;
  text-align: center;
}

.b-serviceCard .subText {
  padding: 22px 60px 113px;
}

.s-serviceVisual .imageBox {
  text-align: right;
}