@charset "UTF-8";

.footer {
  &__text{
    position: relative;
    text-align: center;
    color: var( --main );
  }
  &__imgBox{
    width: 100%;
  }
  &__img{
    margin-top: -1000px;
    width: 100%;
  }
}