@charset "UTF-8";


.header  {
height: 72px;
  &__wrapper {
    height: 100%;
    margin: 0 auto;
    padding: 0 72px;
    display: flex;
    align-items: center;
  }
}
.header .b-head_1 {
  font-size: 40px;
  line-height: 27px;
  letter-spacing: 0.04em;
}