@charset "UTF-8";
@use '../foundation/mixin';

.header  {
height: 72px;
  &__wrapper {
    height: 100%;
    margin: 0 auto;
    width: calc(100% - 72px * 2);
    max-width: 1296px;
    display: flex;
    align-items: center;
  }
  .b-head_1 {
    font-size: 40px;
    line-height: 27px;
    letter-spacing: 0.04em;
  }
}

@include mixin.mq(tab){
  .header {
    height: 56px;
    &__wrapper {
      width: 100%;
      padding: 0 24px;
    }
    .b-head_1 {
      font-size: 16px;
    }
  }
}