@charset "UTF-8";

.s-mainVisual {
  position: relative;
  display: flex;
  background-image: url(../img/main_bg_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 802px;
}


