@charset "UTF-8";
.b-subTitle {
  color: #3A7CE5;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 24px;
  margin-bottom: 24px;
}


.b-reasonCard__1 {
  position: relative;
}

.b-reasonCard__1 .subTitle {
  color: #3A7CE5;
  margin-top: 8px;
}

.b-reasonCard__1 .imageBox {
  position: absolute;
  top: -130px;
}

.b-reasonCard__2 {
  display: flex;
  position: relative;
  align-items: flex-end;
}

.b-reasonCard__2 img {
  max-width: 264px;
  height: auto;
}

.b-reasonCard__2 .subText {
  max-width: 560px;
  height: auto;
  margin-right: 32px;
  padding-top: 64px;
}

.s-reasonVisual__text ul {
  max-width: 880px;
  margin: 0 auto;
}

.s-reasonVisual__text li {
  border-bottom: 1px solid #C6E3F3;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.s-reasonVisual .b-subText {
  font-family: 'Roboto', sans-serif;
  // font-weight: 60;
  font-size: 60px;
  color: #C4E5F9;
  padding-right: 32px;
}

.s-reasonVisual .l-L02 {
  background-image: url(/img/bg_grey_top.png);
  padding-left: 96px;
}

.s-reasonVisual .l-L02::before {
  content: "REASON";
  font-size: 128px;
  font-weight: bold;
  font-family: 'M PLUS 1p', sans-serif;
  color: #E2F4FC;
}


.s-reasonVisual .l-L02 {
  padding-left: 72px;
}

.s-reasonVisual .b-headTitle {
  padding-bottom: 32px;
}

.s-reasonVisual .l-L04 {
  max-width: 894px;
  margin-left: auto;
  margin-right: auto;
}


.s-reasonVisual .l-L07 {
  display: inline-block;
}

// 数字疑似要素
.b-reasonCard__01 {
  position: relative;
}
.b-reasonCard__01::before {
  content: '01';    
  position: absolute;   
  top: 0;    
  left: -20px;
  width: 100px;
  height: 100px;
  font-size: 100px;
  z-index: -100;
  color: #C4E5F9;
}