@charset "UTF-8";
@use "../foundation/mixin" as *;

.s-reasonVisual {
  position: relative;
}
// グレー背景
.s-reasonVisual .grey_top,
.s-reasonVisual .grey_bottom {
  width: 100%;
  // background-color: orange;
}
.s-reasonVisual .grey_top .grey_top_img,
.s-reasonVisual .grey_bottom .grey_bottom_img {
  width: 100%;
  height: 100%;
  margin: -5px 0;
}
// 青色背景
.s-reasonVisual {
  .l-S02 {
    background-color: var(--bg);
    padding: 0 72px;
    @include mq(tab) {
      padding: 0 24px;
    }
  }
  .l-S03 {
    width: calc(100% - 200px);
    max-width: 1296px;
    margin: 0 auto;
    @include mq(sp) {
      width: calc(100% - 42px);
    }
  }
  .b-bg__imgBox {
    position: absolute;
    width: 200px;
    @include mq(tab) {
      width: 116px;
    }
    @include mq(sp) {
      width: 45px;
    }
    img {
      width: 100%;
    }
  }
  .bg_01_right {
    top: 800px;
    right: 0;
    @include mq(tab) {
      top: 740px;
    }
    @include mq(sp) {
      top: 635px;
    }
  }
  .bg_02_left {
    top: 1800px;
    left: 0;
    @include mq(tab) {
      top: 1635px;
    }
  }
  .bg_03_right {
    top: 2400px;
    right: 0;
    @include mq(tab) {
      top: 2250px;
    }
  }
  .bg_04_left {
    top: 2800px;
    left: 0;
    @include mq(tab) {
      top: 2435px;
    }
  }
}
// コンテンツ
.s-reasonVisual .l-L01 {
  margin-bottom: 50px;
  @include mq(tab) {
    margin-bottom: 16px;
  }
}
.s-reasonVisual .l-L01::before {
  content: "REASON";
  font-size: 128px;
  font-weight: bold;
  font-family: 'M PLUS 1p', sans-serif;
  color: #E2F4FC;
  @include mq(tab) {
    font-size: 50px;
  }
}
.s-reasonVisual .head_3 {
  font-size: 50px;
  letter-spacing: 0.15em;
  display: flex;
  align-items: center;
  @include mq(tab) {
    font-size: 20px;
  }
  &::after {
    border-bottom: 2px solid var(--accent);
    content: "";
    width: 160px;
    height: 30px;
    margin-left: 36px;
    @include mq(tab) {
      height: 13px;
    }
    @include mq(sp) {
      width: 30px;
    }
  }
  .large_number {
    font-size: 73px;
    @include mq(tab) {
      font-size: 30px;
    }
  }
}
.s-reasonVisual .s-reasonVisual__list {
  font-size: 24px;
  margin-bottom: 200px;
  @include mq(tab) {
    margin-bottom: 120px;
    font-size: 16px;
  }
  .b-list {
    &__title {
      display: flex;
      align-items: center;
      padding: 24px 0;
      border-bottom: 1px solid #C6E3F3;
      @include mq(tab) {
        padding: 16px 0;
      }
    }
  }
  .b-subText {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #C4E5F9;
    padding-right: 32px;
    @include mq(tab) {
      font-size: 40px;
    }
  }
}
.s-reasonVisual .b-reasonCard {
  position: relative;
  z-index: 100;
  &:not(:last-child) {
    margin-bottom: 272px;
    @include mq (tab) {
      margin-bottom: 120px;
    }
  }
  &__wrapper {
    display: flex;
    @include mq(tab) {
      display: block;
    }
  }
  .b-cardContents {
    &__title {
      position: relative;
      font-size: 42px;
      font-weight: bold;
      @include mq(tab) {
        font-size: 18px;
      }
        &::before {
          content: '01';    
          position: absolute;   
          top: -100px;    
          left: 0;
          font-size: 240px;
          font-weight: bold;
          z-index:  -100;
          color: #e9f2f8;
          font-family: 'Roboto';
          @include mq(tab) {
            font-size: 100px;
            top: -40px;
          }
        }
    }
    &__subTitle {
      color: #3A7CE5;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 62px;
      @include mq(tab) {
        font-size: 13px;
        margin: 8px 0 24px 0;
      }
    }
    &__subText {
      font-size: 16px;
      line-height: 2;
      @include mq(tab) {
        font-size: 12px;
      }
    }
  }
}
.s-reasonVisual .b-reasonCard.card_02 {
  .b-reasonCard__wrapper {
    flex-direction: row-reverse;
  }
  .b-cardContents__title::before {
    content: '02';
  }
}
.s-reasonVisual .b-reasonCard.card_03 {
  .b-cardContents__title::before {
    content: '03';
  }
}
.s-reasonVisual .b-reasonCard.card_04 {
  .b-reasonCard__wrapper {
    flex-direction: row-reverse;
  }
  .b-cardContents__title::before {
    content: '04';
  }
}
.s-reasonVisual .b-reasonCard.card_05 {
  .b-cardContents__title::before {
    content: '05';
  }
}

.b-card__imgBox {
  @include mq(tab) {
    text-align: end;
  }
  img {
    width: 127px;
  }
}



