@charset "UTF-8";

.s-serviceVisual  {
  position: relative;
  padding-top: 200px;
}

// .s-serviceVisual .l-S03 {
//   background-image: url(/img/service_bg_01.png);
//   background-size: cover;
// }
.s-serviceVisual .l-L02 {
  max-width: 650px;
  margin-left: auto;
}

// .b-serviceTitle .head_3 {
  
// }

.b-serviceTitle .subText {
  font-size: 16px;
  line-height: 3;
  letter-spacing: 0.02em;
}

.b-serviceTitle .head_3::before {
  content: "";
  display: block;
  border-top: solid 2px #D1DEFF;
  width: 160px;
  height: 2px;
  position: absolute;
  top: 59%;
  left: 74%;
  z-index: 1;
}

.b-service .head_3 span {
  background: #fff;
  padding: 0 20px;
  position: relative;
  z-index: 5;
}
// SVGと背景追加
.s-serviceVisual__flex{
  display: flex;
  flex-direction: column-reverse;
}
.s-serviceVisual_svg{
  position: absolute;
  z-index: 333;
  top: 0;
  width: 300px;
  height: 300px;
}
.s-serviceVisual_bg{
  position: absolute;
  z-index: 222;
  top: 0;
  width: 300px;
  height: 500px;
}

.b-serviceCard {
  max-width: 600px;
  background-color: #EFF7FF;
  border-radius: 15px;
}

.b-reasonCard__1 {
  margin-top: 200px;
}



.b-serviceCard .head_3  {
  padding-top: 66px;
  text-align: center;
}

.b-serviceCard .subText  {
  padding: 22px 60px 113px;
}

.s-serviceVisual .imageBox {
  text-align: right;
}

.s-serviceVisual .l-L02::before {
  content: "SERVICE";
  font-size: 128px;
  font-weight: bold;
  color: #E2F4FC;
  font-family: 'M PLUS 1p', sans-serif;
}

.s-serviceVisual .l-L01 {
  padding-right: 72px;
}




.s-serviceVisual .l-L03 {
  display: flex;
  justify-content: space-between;
  max-width: 1298px;
  margin-left: auto;
  margin-right: auto;
  }

