@charset "UTF-8";
@use '../foundation/mixin';

// レイアウト
.s-serviceVisual {
  position: relative;
}
.s-serviceVisual {
  .l-S02 {
    width: calc(100% - 72px * 2);
    max-width: 1296px;
    margin: 0 auto;
  }
  .l-L01 {
    width: calc((100% + 72px)/2 - 72px);
    margin-left: auto;
    margin-bottom: 120px;
  }
  .l-L03 {
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
  }
}
// 青背景・イラスト
.s-serviceVisual {
  .b-main__imgBox,
  .b-bg__imgBox {
    position: absolute;
    img {
      width: 100%;
    }
  }
  .main_01_img {
    top: 160px;
    left: 100px;
    width: 400px;
    z-index: -50;
  }
  .bg_01_left {
    width: 472px;
    top: 0;
    left: 0;
    z-index: -100;
  }
}
// コンテンツ
.s-serviceVisual .l-L01::before {
  content: "SERVICE";
  font-size: 100px;
  font-weight: bold;
  font-family: "M PLUS 1p", sans-serif;
  color: #E2F4FC;
}
.s-serviceVisual .b-Main {
  &__title {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.15em;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    &::after {
      border-bottom: 2px solid var(--accent);
      content: "";
      width: 160px;
      margin-left: 36px;
    }
  }
  &__subText {
    font-size: 16px;
    line-height: 3;
    letter-spacing: 0.15em;
  }
}
.s-serviceVisual .b-card__wrapper {
  width: 45%;
  .b-serviceCard {
    background-color: #EFF7FF;
    padding: 48px;
    border-radius: 15px;
    min-height: 80%;
    .head_3 {
      text-align: center;
      font-size: 42px;
      margin-bottom: 24px;
    }
    .subText {
      font-size: 16px;
      line-height: 2;
    }
  }
  .b-card__imgBox {
    width: 50%;
    margin-left: auto;
    margin-top: -14%;
    &_img {
      width: 100%;
    }
  }
}

@include mixin.mq(tab){
  // レイアウト
  .s-serviceVisual {
    .l-S02 {
      width: calc(100% - 24px * 2);
      max-width: 700px;
    }  
    .l-L01 {
      width: 65%;
      margin-left: auto;
      margin-bottom: 80px;
    }
    .l-L03 {
      flex-flow: column;
      align-items: center;
      margin-bottom: 80px;
    }
  }
  // 青背景・イラスト
  .s-serviceVisual {
    .bg_01_left {
      width: 138px;
      top: -240px;
    }
    .main_01_img {
      left: 5%;
      top: 3%;
      width: 24%;
    }  
  }
  // コンテンツ
  .s-serviceVisual {
    .l-L01::before {
      font-size: 50px;
    }
    .b-Main {
      &__title {
        font-size: 20px;
        margin-bottom: 24px;
        &::after {
          border-bottom: 2px solid var(--accent);
          content: "";
          width: 30px;
          margin-left: 36px;
        }
      }
      &__subText {
        font-size: 12px;
        line-height: 2.25;
        letter-spacing: 0.15em;
      }
    }
    .b-card__wrapper {
      width: 100%;
      &:first-child {
        margin-bottom: 56px;
      }
      .b-serviceCard {
        padding: 24px;
        .head_3 {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 16px;
        }
        .subText {
          font-size: 12px;
          line-height: 2.25;
        }
      }
      .b-card__imgBox {
        width: 30%;
        min-width: 150px;
        margin-top: -7%;
      }
    }
  }
}
@include mixin.mq(tab){
  // 青背景・イラスト
  .s-serviceVisual {
    .main_01_img {
      top: 7%;
    }  
  }
}

