@charset "UTF-8";
.s-teamVisual .l-S02 {
  position: relative;
}

.s-teamVisual .l-S02::before{
  content:'' ;    
  position: absolute;
  z-index: -100;
  display: inline-block;
  top: 108px;    
  right: 0;
  width: 281px;/*画像の幅*/
  height: 1085px;/*画像の高さ*/
  background-image: url(../../img/teams_bg_01.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.s-teamVisual .l-L01 {
  margin-top: 200px;
  padding-left: 96px;
}

.s-teamVisual .l-L01::before {
  content: "TEAMS";
  font-size: 128px;
  font-weight: bold;
  font-family: 'M PLUS 1p', sans-serif;
  color: #E2F4FC;
}

.s-teamVisual .l-L03 {
  max-width: 909px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.s-teamVisual .l-L04 {
  display: flex;
}

.s-teamVisual .head_4 {
  font-weight: bold;
}

.b-teamTitle .subText {
  max-width: 700px;
  line-height: 3;
  letter-spacing: 0.02em;
}

.b-lastTitle {
  max-width: 794px;
}

.b-lastTitle .subText {
  max-width: 640px;
}

.b-lastTitle .subText:last-child {
  padding-top: 32px;
}


.s-teamVisual .b-teamTitle {
  max-width: 823px;
} 

.s-teamVisual .b-teamBox {
  display: flex;
}

.s-teamVisual img {
  max-width: 469px;
  height: auto;
}